[submodule "uwsgi"]
	path = uwsgi
	url = git@github.com:bitmotive/ansible-role-uwsgi.git
[submodule "python"]
	path = python
	url = git@github.com:bitmotive/ansible-role-python.git
[submodule "postgresql"]
	path = postgresql
	url = git@github.com:bitmotive/ansible-role-postgresql.git
[submodule "python34"]
	path = python34
	url = git@github.com:bitmotive/ansible-role-python34.git
